body{
    background: linear-gradient(blue,pink);
}
.row{
    background-color: blue;

}
.col{
    border-color: aliceblue;
}
.boxencuesta{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}

album-form{
    margin: 20px;

}

main{
    padding: 15px;
    color: aliceblue;
}