body{
    background: linear-gradient(rgb(29, 121, 241),pink);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.boxencuesta{
    background-color: aliceblue;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

album-form{
    margin: 20px;
    padding: 10px;
}

main{
    padding: 10px;
    color: aliceblue;
    border: 10px solid red;
}